body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#222;
    color:white;
    padding:20px;
    text-align:center;
}

header img{
    width:120px;
}

nav ul{
    list-style:none;
    display:flex;
    justify-content:center;
    gap:25px;
    padding:0;
}

nav a{
    color:white;
    text-decoration:none;
}

form{
    margin:20px 0;
}

input{
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:#3483fa;
    color:white;
    border:none;
    cursor:pointer;
}

main{
    width:90%;
    max-width:1200px;
    margin:auto;
}

section{
    background:white;
    margin:25px 0;
    padding:20px;
    border-radius:10px;
}

.producto{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.producto article{
    flex:2;
}

.producto aside{
    flex:1;
    border:1px solid #ddd;
    border-radius:10px;
    padding:20px;
}

figure img{
    width:100%;
    max-width:450px;
}

.precio{
    color:#00a650;
    font-size:35px;
}

.descuento{
    color:green;
    font-weight:bold;
}

article{
    margin-bottom:20px;
}

article img{
    width:80px;
    border-radius:50%;
}

.relacionado{
    display:inline-block;
    width:220px;
    text-align:center;
    margin-right:20px;
}

.relacionado img{
    width:200px;
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
